<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.coventry.a260ct.orks.slopemanager">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SlopeManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dashboard.DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/login_title"
            android:launchMode="singleTop" />
        <activity
            android:name=".registration.RegisteringActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>
        <activity
            android:name=".booking.BookingsActivity"
            android:label="@string/title_activity_bookings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registration.UserTypeActivity"
            android:label="@string/title_activity_user_type"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- PayPal SDK ! -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name=".booking.CreateBookingActivity"
            android:label="@string/title_activity_create_booking"
            android:parentActivityName=".booking.BookingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.ac.coventry.a260ct.orks.slopemanager.booking.BookingsActivity" />
        </activity>
        <activity
            android:name=".ViewPeopleBooked"
            android:label="@string/title_activity_view_people_booked"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>